@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <title></title>
</head>
<body>
    <h1 align="center" style="margin-top:400px">登录错误:<font color="red">@Request["msg"]</font></h1>
</body>
</html>